/* 
background: #2196F3;
background: #212121;
background: #757575;
background: #FFFFFF99;
*/

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}