:root {
    --accent-color: #2196F3;
    --primary-color: #212121;
    --secondary-color: #757575;
    --thirdly-color: #FFFFFF99;
    --background-color: #2F303A;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

h1,
h2,
h3,
p,
ul,
a {
    margin: 0;
    padding: 0;
}

/*        here |min|-width 1600 must be width 1600 */
.section {
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.container.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo span {
    color: var(--accent-color);
}

nav {
    margin-left: 193px;
}

ul {
    list-style: none;
}

.nav-list {
    display: flex;
}

.nav-item:not(:first-child) {
    margin-left: 54px;
}


.contacts-list {
    display: flex;
    margin-left: auto;
}

.contact-item:not(:first-child) {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: inherit;
    color: var(--primary-color);
}

.nav-link,
.contact-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.contact-link {
    color: var(--secondary-color);
}






section.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

section.hero,
footer.footer {
    background-color: var(--background-color);
}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

footer.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}